
:root {
  --bg: rgb(255, 255, 255);
  --bg-contrast: rgb(207, 217, 222);
  --fg: rgb(15, 20, 25);
  --fg-contrast: rgb(39, 44, 48);
  --fg-lite: rgb(83, 100, 113);
  --highlight: rgb(29, 155, 240);

  --font-size-small: 15px;
  --font-size: 17px;
  --font-size-large: 24px;
  --radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(15, 20, 25);
    --bg-contrast: rgb(39, 44, 48);
    --fg: rgb(255, 255, 255);
    --fg-contrast: rgb(207, 217, 222);
    --highlight: rgb(29, 155, 240);
  }
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: var(--font-size);
  background-color: var(--bg);
  color: var(--fg);
}
a {
  color: var(--highlight);
  text-decoration: none;
  text-decoration-color: var(--highlight);
  font-family: inherit;
}
a:hover {
  color: var(--highlight);
  text-decoration: underline;
}
a:visited {
  color: var(--highlight);
}
#search-input {
  font-size: var(--font-size-large);
  border-radius: var(--radius);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.search_item {
  background-color: var(--bg);
  padding: 24px 18px;
  margin-top: 12px;
}
.search_item.sep:first-child {
  border-top: 1px solid var(--bg-contrast);
}
.search_item.sep {
  border-bottom: 1px solid var(--bg-contrast);
}

.search_time {
  font-size: var(--font-size-small);
  color: var(--fg-contrast);
}
.search_time::before {
  content: "•";
  padding-right: 6px;
}
.search_time a {
  text-decoration-color: var(--fg-lite);
  color: var(--fg-lite);
}
.search_time a:visited {
  color: var(--fg-lite);
}

.search_text {
  display: inline;
}
.search_link {
  display: inline;
}
.search_divider {
  display: none;
}

#sorting,
#browse-sort {
  margin: 8px 5% 0 5%;
  font-size: var(--font-size);
  color: var(--fg-contrast);
}

#paging {
  margin: 8px 5%;
}

.sort-button,
.sort-button-browse {
  font-size: var(--font-size);
  border: 0;
  color: var(--fg-contrast);
  cursor: pointer;
}
.wrapper {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  word-wrap: break-word;
}
.flex-wrap {
  display: flex;
  flex-direction: column;
}

.tweet {
  max-width: 600px;
  font-size: var(--font-size);
  background-color: var(--bg);
  padding-bottom: 16px;
  border: 1px solid var(--bg-contrast);
  border-radius: 5px;
  overflow: hidden;
}
.tweet img {
  max-height: 100%;
  vertical-align: bottom;
  width: 100%;
  object-fit: cover;
}
.tweet video {
  max-height: 100%;
  vertical-align: bottom;
  width: 100%;
}
.tweet ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 8px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.tweet li {
  height: 20vh;
  width: 20vh;
  flex-grow: 1;
}
.tweet .display_name {
  margin-bottom: 0;
  margin-top: 0;
}
.tweet .favorite_count {
  display: inline-block;
  margin-bottom: 0;
}
.tweet .retweet_count {
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 0;
}
.tweet .created_at {
  margin-bottom: 0;
}
.tweet .permalink {
  margin-left: 16px;
}
.child {
  margin-top: 16px;
  margin-left: 64px;
  max-width: calc(600px - 64px);
  background-color: var(--bg-contrast);
}
.parent {
  margin-bottom: 16px;
  margin-right: 64px;
  max-width: calc(600px - 64px);
  background-color: var(--bg-contrast);
}

button {
  background-color: var(--bg-contrast);
  color: var(--fg);
}
input {
  background-color: var(--bg);
  color: var(--fg);
}

.favorite_count, .retweet_count {
  color: var(--fg-lite)
}
.favorite_count em {
  color: var(--fg-contrast);
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-small);
}
.retweet_count em {
  color: var(--fg-contrast);
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-small);
}
.scorecard {
  margin-top: 24px;
  margin-bottom: -6px;
  padding: 12px 0;
  border-top: 1px solid var(--bg-contrast);
  border-bottom: 1px solid var(--bg-contrast);
}

@media screen and (max-width: 599px) {
  .tweet li {
    height: 15vh;
    width: 15vh;
    flex-grow: 1;
  }
}

.hr {
  visibility: hidden;
}
.tab {
  border: none;
  box-shadow: inset 0 -2px 0px 0px var(--highlight);
  font-size: var(--font-size-large);
  cursor: pointer;
  padding: 4px 10px;
  box-sizing: border-box;
}
.tab.active {
  box-shadow: none;
  font-weight: 900;
  background-color: var(--highlight);
  color: var(--fg);
}
#page-num {
  font-size: var(--font-size);
  width: 80px;
}

.user {
  display: flex;
  margin-bottom: 28px;
}
.user_avatar {
  margin-right: 12px;
}
.user_avatar img {
  width: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.user_text {
  display: flex;
  flex-direction: column;
}
.user_name {
  font-weight: 600;
}
.user_handle {
  color: var(--fg-contrast);
  padding-right: 6px;
}
.user_infoline {
  display: flex;
  align-items: baseline;
}

.top-arrow {
  text-align: right;
  display: block;
  margin-right: 16px;
}
